In [1]:
import os
import pandas as pd
import numpy as np

# Download dataset

In [2]:
os.listdir()

['.ipynb_checkpoints',
 '2023-03-08 Precios Casas RM.csv',
 '2023-07-18 Propiedades Web Scrape.csv',
 'dashboard_streamlit.py',
 'requirements.txt',
 'Untitled.ipynb']

In [3]:
df1 = pd.read_csv('2023-03-08 Precios Casas RM.csv')
df1.head()

,Price_CLP,Price_UF,Price_USD,Comuna,Ubicacion,Dorms,Baths,Built Area,Total Area,Parking,id,Realtor
0,409285000,11500,509695,QuintaNormal,Hoevel4548y4558,7,4.0,384.0,732.0,3.0,11700213,NaN
1,105000000,2950,130760,PedroAguirreCerda,Rucalhue,2,1.0,112.0,145.0,1.0,10894299,Legales y Propiedades SpA
2,128124000,3600,159557,EstaciónCentral,AvenidaLasParcelas,3,1.0,59.0,243.0,2.0,10257635,Propiedadesrs
3,75000000,2107,93400,Colina,PasajeGonzaloRojas,3,1.0,103.0,73.0,1.0,9232092,Patricio Gajardo propiedades
4,53000000,1489,66002,Colina,HernánDíazArrieta2820,2,1.0,57.0,67.0,1.0,7085397,Patricio Gajardo propiedades

In [4]:
df2 = pd.read_csv('2023-07-18 Propiedades Web Scrape.csv')
df2.head()

,Price_CLP,Price_UF,Price_USD,Comuna,Ubicacion,Dorms,Baths,Built Area,Total Area,Parking,id,Realtor
0,129884400,3600.0,158396.0,Lampa,AvenidaLaHacienda,3.0,2.0,68.0,221.0,1.0,7850612,Behouse
1,130000000,3603.0,158537.0,Buin,Villaseca,5.0,3.0,150.0,190.0,2.0,10081485,NaN
2,172998805,4795.0,210974.0,PuenteAlto,BarrioAustria,4.0,3.0,90.0,182.0,3.0,10257247,Bissac
3,135296250,3750.0,164995.0,Buin,ComercianteArmandoPérezCarrasco,3.0,2.0,85.0,175.0,1.0,20153043,Ambiento Propiedades
4,195000000,5405.0,237805.0,QuintaNormal,Hostos,3.0,3.0,130.0,402.0,1.0,16669338,Puntoinmobiliario.cl

In [5]:
df = pd.concat([df1,df2])

In [6]:
df = df[['Price_UF','Comuna','Dorms','Baths','Built Area','Total Area','Parking']]

In [7]:
len(df)

17070

In [17]:
comuna = "QuintaNormal"

df[df['Comuna'] == comuna][['Price_UF','Built Area']].astype(float).apply(lambda x : x[0] / x[1] , axis = 1)

0        29.947917
13       53.753623
27       43.906250
38       37.878788
270      19.063545
           ...
8805     70.554545
9189     37.390029
9215    207.875000
9220     41.575000
9234     36.405263
Length: 170, dtype: float64

In [25]:
list_comunas = df['Comuna'].unique()

list_comunas.sort()

In [32]:
comunas_por_metro_cuadrado = pd.DataFrame(columns = ['Comuna','Precios por metro cuadrado'],\
             data = [[comuna, (df[df['Comuna'] == comuna][['Price_UF','Built Area']]\
                               .astype(float).apply(lambda x : x[0] / x[1] , axis = 1))\
 .mean()]\
 for comuna in list_comunas])

In [34]:
df['UF por metro cuadrado'] = df[['Price_UF','Built Area']]\
                               .astype(float).apply(lambda x : x[0] / x[1] , axis = 1)

In [41]:
df.head()

,Price_UF,Comuna,Dorms,Baths,Built Area,Total Area,Parking,UF por metro cuadrado
0,11500.0,QuintaNormal,7.0,4.0,384.0,732.0,3.0,29.947917
1,2950.0,PedroAguirreCerda,2.0,1.0,112.0,145.0,1.0,26.339286
2,3600.0,EstaciónCentral,3.0,1.0,59.0,243.0,2.0,61.016949
3,2107.0,Colina,3.0,1.0,103.0,73.0,1.0,20.456311
4,1489.0,Colina,2.0,1.0,57.0,67.0,1.0,26.122807

In [39]:
df.to_csv("datos_casas.csv")

In [55]:
max_dorm = 5

{comuna : sum([x+1 in df[df["Comuna"] == comuna]["Dorms"].unique() for x in range(max_dorm)]) == max_dorm \
 for comuna in list_comunas}

{'Alhué': False,
 'Buin': False,
 'CaleradeTango': False,
 'Cerrillos': False,
 'CerroNavia': True,
 'Colina': True,
 'Conchalí': False,
 'Curacaví': True,
 'ElBosque': True,
 'ElMonte': False,
 'EstaciónCentral': True,
 'Huechuraba': False,
 'Independencia': True,
 'IsladeMaipo': False,
 'LaCisterna': False,
 'LaFlorida': True,
 'LaGranja': False,
 'LaPintana': True,
 'LaReina': True,
 'Lampa': True,
 'LasCondes': True,
 'LoBarnechea': True,
 'LoEspejo': False,
 'LoPrado': True,
 'Macul': False,
 'Maipú': False,
 'MaríaPinto': False,
 'Melipilla': False,
 'PadreHurtado': True,
 'Paine': False,
 'PedroAguirreCerda': False,
 'Peñaflor': False,
 'Peñalolén': True,
 'Pirque': False,
 'Providencia': True,
 'Pudahuel': True,
 'PuenteAlto': True,
 'Quilicura': True,
 'QuintaNormal': True,
 'Recoleta': True,
 'Renca': False,
 'SanBernardo': True,
 'SanJoaquín': True,
 'SanJosédeMaipo': False,
 'SanMiguel': True,
 'SanPedro': False,
 'SanRamón': True,
 'Santiago': True,
 'Talagante': True,
 'Tiltil': False,
 'Vitacura': True,
 'Ñuñoa': True}

In [47]:
pd.DataFrame(df.groupby(["Comuna"])['UF por metro cuadrado'].mean())

                   UF por metro cuadrado
Comuna
Alhué                          68.750000
Buin                           49.435716
CaleradeTango                  41.406655
Cerrillos                      40.966711
CerroNavia                     28.704728
Colina                         64.804208
Conchalí                       36.018336
Curacaví                       46.782283
ElBosque                       33.912774
ElMonte                        36.568471
EstaciónCentral                41.058852
Huechuraba                     59.889736
Independencia                  41.269563
IsladeMaipo                    44.928244
LaCisterna                     43.511499
LaFlorida                      52.959855
LaGranja                       33.541267
LaPintana                      28.276980
LaReina                        83.881831
Lampa                          41.121853
LasCondes                      95.938541
LoBarnechea                   110.904971
LoEspejo                       26.290724
LoPrado                        34.984997
Macul                          53.345850
Maipú                          47.030757
MaríaPinto                     37.720575
Melipilla                     106.975458
PadreHurtado                   43.972955
Paine                          35.880660
PedroAguirreCerda              33.166557
Peñaflor                       39.496563
Peñalolén                      79.177470
Pirque                         48.317085
Providencia                    86.328778
Pudahuel                       52.210088
PuenteAlto                     47.707896
Quilicura                      42.747373
QuintaNormal                   41.403062
Recoleta                       44.544088
Renca                          37.329277
SanBernardo                    38.232417
SanJoaquín                     39.218004
SanJosédeMaipo                 45.870302
SanMiguel                      56.758118
SanPedro                       38.003705
SanRamón                       30.358940
Santiago                       77.113846
Talagante                      37.077092
Tiltil                         40.780285
Vitacura                      107.532083
Ñuñoa                         101.134004

# Preprocessing

In [15]:
df.describe(include="all")

,Price_UF,Comuna,Dorms,Baths,Built Area,Total Area,Parking
count,17070.000000,17070,16981.000000,16852.000000,1.654600e+04,16628.000000,11860.000000
unique,NaN,52,NaN,NaN,NaN,NaN,NaN
top,NaN,PuenteAlto,NaN,NaN,NaN,NaN,NaN
freq,NaN,1630,NaN,NaN,NaN,NaN,NaN
mean,10585.476860,NaN,4.011955,2.705792,3.422920e+03,853.159791,2.820405
std,11048.779002,NaN,1.643895,1.473186,3.892795e+05,10331.472030,12.184577
min,0.000000,NaN,1.000000,1.000000,1.000000e+00,1.000000,1.000000
25%,3465.000000,NaN,3.000000,2.000000,8.800000e+01,130.000000,1.000000
50%,6182.000000,NaN,4.000000,3.000000,1.300000e+02,220.000000,2.000000
75%,14160.000000,NaN,5.000000,3.000000,2.020000e+02,460.000000,3.000000
max,155000.000000,NaN,35.000000,29.000000,5.000000e+07,720000.000000,1269.000000

In [16]:
100*df.isnull().sum()/len(df)

Price_UF       0.000000
Comuna         0.000000
Dorms          0.521383
Baths          1.277094
Built Area     3.069713
Total Area     2.589338
Parking       30.521383
dtype: float64

In [17]:
df = df[(df[[col for col in df.columns if col != "Parking"]].isnull().sum(axis = 1) == 0)]

In [18]:
100*df.isnull().sum()/len(df)

Price_UF       0.000000
Comuna         0.000000
Dorms          0.000000
Baths          0.000000
Built Area     0.000000
Total Area     0.000000
Parking       29.884705
dtype: float64

In [19]:
df = df.fillna(0.0)

In [20]:
100*df.isnull().sum()/len(df)

Price_UF      0.0
Comuna        0.0
Dorms         0.0
Baths         0.0
Built Area    0.0
Total Area    0.0
Parking       0.0
dtype: float64

In [21]:
Remove_small_comune = lambda x : x not in ['MaríaPinto','SanPedro','Alhué']

df = df[df['Comuna'].apply(Remove_small_comune)]

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import  OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.metrics import r2_score

In [23]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [24]:
X.head()

              Comuna  Dorms  Baths  Built Area  Total Area  Parking
0       QuintaNormal    7.0    4.0       384.0       732.0      3.0
1  PedroAguirreCerda    2.0    1.0       112.0       145.0      1.0
2    EstaciónCentral    3.0    1.0        59.0       243.0      2.0
3             Colina    3.0    1.0       103.0        73.0      1.0
4             Colina    2.0    1.0        57.0        67.0      1.0

In [25]:
categorical_features = [0] # Positions of categorical columns in X_train/X_test
categorical_transformer = Pipeline(
    steps=[ 
    ('encoder', OneHotEncoder(drop='first',sparse = False)) # first column will be dropped to avoid creating correlations between features
    ])

In [26]:
numeric_features = list(range(1,6)) # Positions of numeric columns in X_train/X_test
numeric_transformer = Pipeline(steps=[ 
    ('scaler', StandardScaler())
])

In [27]:
# Use ColumnTransformer to make a preprocessor object that describes all the treatments to be done
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [28]:
# First : always divide dataset into train set & test set !!
print("Dividing into train and test sets...")
# random_state=np.random.randint(100)
random_state = 56
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state = random_state)
# test_size indicates the proportion of rows from X and Y that will go into the test dataset while 
# maintaining the correspondance between the rows from X and Y 

# random_state is an argument that can be found in all functions that have a pseudo-random behaviour
# if random_state is not stated the function will derive a different random result everytime the cell 
# runs, if random_state is given a value the results will be the same everytime the cell runs while
# each different value of radom_state will derive a specific result
print("...Done.")
print('random_state = ',random_state)

Dividing into train and test sets...
...Done.
random_state =  56

In [29]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

# Linear regression

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [31]:
LR = LinearRegression()

In [32]:
LR.fit(X_train,y_train)

LinearRegression()

In [33]:
y_train_pred = LR.predict(X_train)
y_test_pred = LR.predict(X_test)

In [34]:
print('r2 score on train set : ',r2_score(y_train,y_train_pred))
print('r2 score on test set : ',r2_score(y_test,y_test_pred))

r2 score on train set :  0.6439948935267588
r2 score on test set :  0.6309754067147464

In [35]:
import pickle

In [36]:
with open('pricing.pkl','wb') as pricing:
    pickle.dump(LR,pricing)

In [37]:
with open('preprocessor.pkl','wb') as pre:
    pickle.dump(preprocessor,pre)

In [38]:
X['Comuna'].unique()

array(['QuintaNormal', 'PedroAguirreCerda', 'EstaciónCentral', 'Colina',
       'LaFlorida', 'Maipú', 'SanBernardo', 'Santiago', 'LasCondes',
       'Lampa', 'Quilicura', 'PuenteAlto', 'LaPintana', 'Huechuraba',
       'SanMiguel', 'Ñuñoa', 'LaGranja', 'Pudahuel', 'Independencia',
       'Buin', 'Peñalolén', 'Talagante', 'PadreHurtado', 'Tiltil',
       'LoBarnechea', 'Providencia', 'LaReina', 'Conchalí', 'Peñaflor',
       'ElMonte', 'Macul', 'CaleradeTango', 'Paine', 'LaCisterna',
       'Melipilla', 'Recoleta', 'LoPrado', 'Vitacura', 'LoEspejo',
       'ElBosque', 'Cerrillos', 'Curacaví', 'Renca', 'Pirque',
       'SanJoaquín', 'IsladeMaipo', 'SanRamón', 'CerroNavia',
       'SanJosédeMaipo'], dtype=object)

In [39]:
X.head()

              Comuna  Dorms  Baths  Built Area  Total Area  Parking
0       QuintaNormal    7.0    4.0       384.0       732.0      3.0
1  PedroAguirreCerda    2.0    1.0       112.0       145.0      1.0
2    EstaciónCentral    3.0    1.0        59.0       243.0      2.0
3             Colina    3.0    1.0       103.0        73.0      1.0
4             Colina    2.0    1.0        57.0        67.0      1.0